/* common */
body {
  font-size: 6em;
  text-align: center;
}

/* 残り秒数とカウント数表示 */
.count, .type {
  margin: 0;
  font-weight: bold;
  color: #888;
}

/* テキスト表示部 */
.wrap {
  margin-top: 20px;
  padding: 80px 40px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}

/* 正入力時 */
.typed {
  color: lightgreen;
}

/* 誤入力時 */
.mistyped {
  background-color: red;
}